/* Trocar a família da fonte de toda a página */
body {
    font-family: Arial, sans-serif; /* Altere para a fonte desejada */
    background-color: #FFFFFF; /* Cor de fundo da página, se necessário */
}

/* Estilo para o título principal */
h1 {
    color: #3D3D3D; /* Cor da fonte do título principal */
    background-color: #E1EDF2; /* Cor de fundo do título principal */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
}

/* Estilo para os subtítulos */
h2 {
    border-bottom: 2px solid #3D3D3D; /* Borda na parte de baixo dos subtítulos */
    padding-bottom: 5px; /* Espaço entre o texto e a borda */
}

/* Estilo para as figuras */
figure {
    text-align: center; /* Centraliza o conteúdo da figura */
    background-color: whitesmoke; /* Cor de fundo da figura */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do conteúdo da figura */
    margin: 20px 0; /* Espaço acima e abaixo da figura */
}

/* Estilo para as legendas das figuras */
figcaption {
    color: lightgrey; /* Cor da fonte para a legenda da figura */
}