/* Trocar a família da fonte de toda a página */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}
container {
    width: 940px;
    padding: 0 30px; 
}
/* Estilo para o título principal */
h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px; /* Espaço interno de 10px */
}

/* Estilo para os subtítulos */
h2, h3, h4 {
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 5px;
}
/* Estilo para as figuras */
figure {
    text-align: center;
    background-color: whitesmoke; 
    color: lightgrey; 
    width: 850px;
    height: 630px;
    padding: 15px; 
    margin: 30px auto; /* Margem superior, inferior e automática para centralizar */
}
/* Estilo para as imagens dentro das figuras */
figure img {
    img{
        width: 848px;
        height: 601px;
    }

}
/* Estilo para as legendas das figuras */
figcaption {
    color: lightgrey;
    padding: 10px;
    margin-top: 10px; /* Afasta 10px a legenda da imagem */
}
/*#familia {
    width: 275px;
    text-align: right;
}