/* Trocar a família da fonte de toda a página */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; /* Remove margens padrão do body */
}
/* Estilo para o título principal */
h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px; /* Espaço interno de 10px */
}

/* Estilo para os subtítulos */
h2 {
    border-bottom: 2px solid #3D3D3D;
    padding-bottom: 5px;
}
/* Estilo para as figuras */
figure {
    text-align: center;
    background-color: whitesmoke;
    padding: 15px 15px 15px 15px; /* Espaço interno de 15px */
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;/* Afasta 30px das caixas acima e abaixo */
    border: 10px;
}
/* Estilo para as imagens dentro das figuras */
figure img {
    display: block; /* Torna a imagem um bloco */
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
/* Estilo para as legendas das figuras */
figcaption {
    color: lightgrey;
    padding: 10px;
    margin-top: 10px; /* Afasta 10px a legenda da imagem */
}